
/* hero */
.hero_bottom_content{
  background-color: cadetblue;
  text-align: center;
  width: 100%;
  height: 22vh;
 
  
}
.hero_bottom_content h1{
  color: #fff;
  font-size: 52px;
}
.hero_bottom_content p{
  color: #fff;
  font-size: 25px;
}


.home_partner{
  background-color: #ffff;
  box-shadow: 0px 12px 12px rgba(21,91,81,0.71);
  padding: 60px 30px;
  border-radius: 20px;
  
}
.home_partner p{
  font-size: 18px;
}
.box_logo{
  margin-top: -90px;
  border: 1px solid black;
  width: 200px;
  /* height: 71px; */
  margin-bottom: 20px;
  
}
.box_logo img{
  width: 100%;
}

/* specializes */
.specilalized{
  padding: 40px 0;
}
.specializes{
  color: #000;
  background-color: #fff;
  box-shadow: 0px 12px 12px rgba(21,91,81,0.71);
  padding: 40px 30px;
  height: 400px;
  width: 100%;
  transition: ease-in 0.4s;

}
.speciallizes_img{
  width: 50px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  background-color: aliceblue;
}
.speciallizes_img img{
  width: 100%;
}
.specializes h1{
  margin: 20px 0;
  font-size: 20px;
}
.special_btn_icons{
  width: 40px;
  height: 40px;
  border-radius: 10%;
  text-align: center;
  padding: 10px;
  border: none;
  outline: none;
  margin-left: 160px;
  margin-top: 40px;
  background-color: crimson;
}
.special_btn_icons i{
  color: #ffff;

}
.specializes.step_1{
  background: url("https://cdn.pixabay.com/photo/2022/09/28/18/19/girls-7485702_640.jpg");
  /* background-color: aqua; */
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.specializes:hover.step_2{
  background: url("https://cdn.pixabay.com/photo/2016/03/10/16/48/restaurant-1248735_640.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.specializes:hover.step_3{
  background: url("https://cdn.pixabay.com/photo/2015/01/09/11/08/startup-594090_1280.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.specializes:hover.step_4{
  background: url("https://cdn.pixabay.com/photo/2017/01/14/10/56/people-1979261_640.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.specializes:hover.step_5{
  background: url("https://cdn.pixabay.com/photo/2017/08/31/09/01/woman-2699801_640.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.specializes:hover.step_6{
  background: url("https://cdn.pixabay.com/photo/2012/02/29/15/47/business-19148_640.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.specializes:hover.step_7{
  background: url("https://cdn.pixabay.com/photo/2018/04/13/12/38/girl-3316429_640.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.specializes:hover.step_8{
  background: url("https://cdn.pixabay.com/photo/2018/01/27/07/24/nature-3110567_640.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.home_client{
  background-color: #663399;
}
.home_client img{
  width: 100%;
  object-fit: cover;
}

.testimonial_clinet_info{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.home_testimonial p{
  font-size: 22px;
}
.testimonial_clinet_info img{
  width: 70px;
  margin-right: 20px;
}
.testimonial_clinet_info h2{
  font-size: 21px;
}
.client_btn{
  width: 40px;
  height: 40px;
  border-radius: 10%;
  text-align: center;
  padding: 10px;
  border: none;
  outline: none;
  background-color: crimson;
  margin-left: 90px;
}
.client_btn span{
  margin-left: 40px;
  font-size: 22px;
  margin-top: -8px;
}

/* .form_box */
.home_user_info{
  background-color: coral;
  padding: 60px 0%;
}
.form_box{
  background-color: #fff;
  padding: 10px 30px;

}
.form_box h2{
  padding-top: 20px;
}
.form_box p{
  font-size: 24px;
}
.home_user_info img{
  width: 100%;
}


