
/* hero carousel*/
.carousel-control-prev,
.carousel-control-next{
  display: none;
}
.carousel-indicators {
  position: absolute;
  top: 68%;
  left: -79%;
  z-index: 2;
  padding: 0;
  color: #fff;
}

.carousel-indicators [data-bs-target] {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 0px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: crimson;
  /* background-clip: padding-box; */
  opacity: .5;
  transition: opacity .6s ease;
}

.carousel_caption img{
  width: 100%;
  object-fit: cover;
}
.caption_caousel{
  width: 600px;
  height: 400px;
  top: 10%;
  left: 12%;
  transform: translate(-10%, -12%);
  margin-bottom: 20px;
  text-align: start;
}
.caption_caousel h5{
  font-size: 42px;
  color: #fff;
  font-weight: 400;
}
.caption_caousel h1{
  font-size: 82px;
  color: aliceblue;
  font-weight: 500;
  padding: 0%;
  margin: 0%;
}
.caption_caousel p{
  font-size: 19px;
}

/* hero_Bottom_content */
.hero_bottom_content{
  background: url("https://abym.in/assets/img/bg/counter-bg.png");
  background-position: center;
  background-size: cover;
  text-align: center;
  width: 100%;
}
.hero_bottom_content h1{
  color: #fff;
  font-size: 55px;
}
.hero_bottom_content p{
  color: #fff;
  font-size: 25px;
  font-weight: 600;

}
/* who we are   */
.home_trusted_partner h5{
  font-size: 22px;
  font-weight: 400;

}
.home_trusted_partner h3{
  font-size: 32px;
}
.home_trusted_partner h1{
  font-size: 68px;
  font-weight: 600;
}

.home_trusted_partner_decs img{
  width: 100%;
  height: 80px;
  object-fit: contain;
}
.home_trusted_partner_decs h4{
  font-size: 22px;
}
.home_trusted_partner_decs h4{
  font-size: 22px;
}

/* .home_working_process  */
.home_working_process{
  background: url("https://abym.in/assets/img/bg/working-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

/* .home_partner  */
.home_partner_section{
  background-color: #fff;
}
.home_partner{
  background-color: #ffff;
  box-shadow: 0px 3px 22px #00000029;
  padding: 46px 40px;
  border-radius: 25px;
  margin-bottom: 60px;
  height: 330px;
}
.home_partner p{
  font-size: 18px;
}
.box_logo{
  margin-top: -90px;
  border: 1px solid black;
  width: 200px;
  margin-bottom: 20px;
}
.box_logo img{
  width: 100%;
}

/*-------------- specializes ---------- */
.specilalized{
  padding: 10px 0;
}
.specializes{
  color: #000;
  background-color: #fff;
  /* box-shadow: 0px 12px 12px rgba(21,91,81,0.71); */
  box-shadow: 0px 3px 22px #00000029;
  padding: 40px 30px;
  height: 400px;
  width: 100%;

  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;

}
.speciallizes_img{
  width: 50px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  background-color: aliceblue;
}
.speciallizes_img img{
  width: 100%;
  object-fit: cover;
}
.specializes h1{
  margin: 20px 0;
  font-size: 20px;
}
.special_btn_icons{
  width: 40px;
  height: 40px;
  border-radius: 10%;
  text-align: center;
  padding: 10px;
  border: none;
  outline: none;
  margin-left: 160px;
  margin-top: 40px;
  background-color: crimson;
}
.special_btn_icons i{
  color: #ffff;
}
.specializes.step_1{
  background: url("https://abym.in/assets/img/services/6.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.specializes:hover.step_2{
  background: url("https://abym.in/assets/img/services/2.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.specializes:hover.step_3{
  background: url("https://abym.in/assets/img/services/1.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.specializes:hover.step_4{
  background: url("https://abym.in/assets/img/services/4.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.specializes:hover.step_5{
  background: url("https://abym.in/assets/img/services/5.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.specializes:hover.step_6{
  background: url("https://abym.in/assets/img/services/3.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.specializes:hover.step_7{
  background: url("https://abym.in/assets/img/services/7.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.specializes:hover.step_8{
  background: url("https://cdn.pixabay.com/photo/2018/01/27/07/24/nature-3110567_640.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
/* .home_client  */
.home_client{
  background: linear-gradient(135deg, #2c9876, #bf0fa0);
  color: #fff;
  padding: 60px 0;
  animation: changeBg 10s linear infinite;
}
.home_client img{
  width: 100%;
  object-fit: cover;
}
.home_client h4{
  color: #fff;
}

/*  testimonial  */
.home_testimonial{
  padding: 40px 0;
  background: url("https://abym.in/assets/img/bg/testimonial-bg.svg");
  
}
.home_testimonial h1{
  font-size: 52px;
  margin-bottom: 40px;
}
.testimonial_clinet_info{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.home_testimonial p{
  font-size: 22px;
}
.testimonial_clinet_info img{
  width: 70px;
  margin-right: 20px;
}
.testimonial_clinet_info h2{
  font-size: 21px;
}
.client_btn{
  width: 40px;
  height: 40px;
  border-radius: 10%;
  text-align: center;
  padding: 10px;
  border: none;
  outline: none;
  background-color: crimson;
  margin-left: 90px;
}
.client_btn span{
  margin-left: 40px;
  font-size: 22px;
  margin-top: -8px;
}

/* .form_box */
.home_user_info{
  background-color: #072b3e;
  padding: 60px 0%;
}
.form_box{
  background-color: #fff;
  padding: 10px 30px;

}
.form_box h2{
  padding-top: 20px;
}
.form_box p{
  font-size: 24px;
}
.home_user_info img{
  width: 100%;
}


