

.protfolio_hero{
  background: url("https://abym.in/assets/img/post/5.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  width: 100%;
  height: 80vh;
}
.protfolio_hero img{
  width: 100%;
  /* height: 300px; */
}