/* hero */
.products_hero2{
  background-image: url("https://abym.in/assets/img/banner/product-banner.png");
  width: 100%;
  height: 70vh;
  background-position: center;
  background-size: cover;

}
.product_img img{
  width: 100%;
  object-fit: cover;
}

.protfolio_hero{
  background: url("https://abym.in/assets/img/post/5.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 80vh;
  padding-top: 120px;
  background-color: crimson;
}
.portfolio_hero_content{
  text-align: start;
  color: aliceblue;
}
.portfolio_hero_content h1{
  line-height: 65px;
  font-size: 72px;
}
.portfolio_hero_content p{
  color: aliceblue;
  font-weight: 600;
  font-size: 19px;
}
.protfolio_hero img{
  width: 100%;
  height: 300px;
}
.portfolio_blog img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.ecom_bg_img{
  background-image: url("https://abym.in/assets/img/shape/circle-gradiant.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  text-align: center;
  
}
.ecom_bg_img img{
  width: 100%;
}

/* products_blogs */
.products_blogs{
  background-color: #eeee;
}
.blog_card{
  box-shadow: 0px 0px 12px 0px rgba(81,81,81,0.91);
  margin-bottom: 30px;
}




/* products_second */
.products_second{
  background: url("https://abym.in/assets/img/bg/ecommerce-bg.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 80vh;
  padding: 90px 0%;
}
.product_ecom h1{
  color: #242659;

}

/* Ecomerce_projects */
.Ecomerce_projects {
  background: url("https://abym.in/assets/img/bg/work-flow.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
.Ecomerce_projects .heading h1{
  color:#091d3e ;
}
.ecommerce_head img{
  width: 70px;
  height: 70px;
}
.ecommerce_head h3{
  font-size: 21px;
}
.ecom_bg_img{
  padding: 40px 10px;
}
.ecom_bg_img img{
  width: 200px;
  object-fit: cover;
}

/* product_erm */
.product_erm{
  background: url("https://abym.in/assets/img/bg/crm-bg.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 80vh;
  padding: 40px 0;
  object-fit: cover;
}

.product_erm h1{
  color: #091d3e;
}
.benifit_crm ul li{
  margin-left: -20px;
}
.benifit_crm ul li i{
  margin-top: 10px;
  font-size: 23px;
}


/*start quest_test */
.quest_test{
  background-color: #fff;
  padding: 80px 0%;
  padding-bottom: 20px;
}
.quest_test h1{
  /* color: #242659; */
  color: #091d3e;
}
.quest_lest li{
  margin-left: -40px;
}
.quest_lest li img{
  margin-top: 0px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.quest_lest li p{
  margin-left: 10px;
}

/* end quest_test */

/* start products_blogs */
.products_blogs {
  background: url("https://abym.in/assets/img/bg/working-bg.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
.products_blogs .heading h1{
  color: black;
  font-weight: 300;
}
/* endproducts_blogs */


/* start cabs_booking */
.cabs_booking{
  background: transparent linear-gradient(291deg, #242659 0%, #2887BF 99%, #2887BF 100%) 0% 0% no-repeat padding-box;
  padding-top: 0px;
  padding-bottom: 70px;
  width: 100%;
  height: 100%;
  color: #fff;
}
.heading h1{
  color: #fff;
}
.cab_desc{
  border: 1px solid #fff;
  padding: 20px;
}